/* General styles */
body {
    background-color: #e0f7fa; /* Light blue background */
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 20px;
    padding: 20px;
}

/* Form box styles */
.form-box {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form styles */
.form-group {
    margin-bottom: 15px;
}

.form-control {
    border-radius: 4px;
}

.btn-dark {
    background-color: #04AA6D;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-dark:hover {
    background-color: #45a049;
}

.btn-light {
    background-color: #f0f0f0;
    color: #000;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

.btn-light:hover {
    background-color: #e0e0e0;
}

.text-danger {
    color: #721c24;
    font-size: 0.875rem;
}

/* Footer styles */
.footer {
    background-color: rgb(26, 183, 97);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
