
{% extends 'layout/app.html' %}
{% load static %}

{% block content %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Enquiry Page | RentalBox</title>
        <link rel = "stylesheet" type="text/css" href="{% static '/warehouse/css/enquiry.css' %}">
        <style>
            h3{
                /* background-color: green; */
                color: rgb(2, 76, 141);
                margin-left: 9%;

            }
        </style>
    </head>
     <body>  
        <script>
            function submitFunction() {
                alert("Request for Quote Generated");
            }
        </script>
       <!-- header start -->
    <div class="header" style=" background-color: rgb(26, 183, 97); text-align: center; left: 0%; width: 100%; ">
        <p>
            <span style="margin-right: 50%; color: aliceblue; font-weight: bold;"><a href="{% url 'index' %}" style="text-decoration: none;color: aliceblue;">RentalBox</a></span> 
            
            {% if name != 'AnonymousUser' %}
            <span class="cart-icon"><a href="{% url 'mycart' %}"><i class="fas fa-shopping-cart" style="color: aliceblue;"></i></a></span>
            <span><a style="color: white; text-decoration: none;" href="{% url 'myorder' %}">My Order</a></span>
            <span><a style="color: white; text-decoration: none;" href="{% url 'dashboard' %}">| Dashboard</a></span>
            <span>{{ name }} <a href="{% url 'logout' %}" class="btn btn-dark">Logout</a></span>
            {% else %}
                <span><a href="{% url 'login' %}">SignIn</a> <a href="{% url 'register' %}">/ SignUp</a></span>
            {% endif %}
        </p>
    </div>
    <!-- header end -->
        <div class="container">
            <h3>Request For Quote</h3>

            <form action = "" method = "POST">
                {% csrf_token %} 
                <div class="row">
                    <div class="col-25">
                        <label for="your_name">Your name: </label>
                    </div>
                    <div class="col-75">
                        <input id="your_name" type="text" name="your_name"><br> <br> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="your_email">Your Email: </label>
                    </div>
                    <div class="col-75">
                        <input id="your_email" type="email" name="your_email"><br> <br> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                    
                        <label for="mobile_no">Mobile No: </label>
                    </div>
                    <div class="col-75">
                        <input id="mobile_no" type="number" name="mobile_no"><br> <br> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="org_details">Organisation Name: </label>
                    </div>
                    <div class="col-75">
                        <input id="org_details" type="text" name="org_details"><br> <br> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="your_requirement">Your Requirement: </label>
                    </div>
                    <div class="col-75">
                        <textarea id="your_requirement" type="text" name="your_requirement"></textarea><br> <br> 
                    </div>
                </div>
                <div class="row">
                    <input onclick="submitFunction()" style="margin-left: 25%;" type="submit" value="submit" name="submit">
                </div>
            </form>
        </div>
        <!-- footer start -->
        <div class="footer" style="background-color: rgb(26, 183, 97); text-align: center; left: 0%; width: 100%; bottom: 0%; ">
            <p>&copy shashiranjan<a href="https://www.linkedin.com/in/shashiranjan05/" ><i class="fa fa-linkedin-square" style="font-size:24px; color: black;"></i></a> &nbsp;<a href="https://github.com/shashiranjan05"><i class="fa fa-github-square" style="font-size:24px; color: black;" ></i></a>
            </p>
        </div>
        <!-- footer end -->
    </body> 

</html>


{% endblock %}

