{% extends 'layout/app.html' %}
{% load static %}

{% block content %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'warehouse/css/index.css' %}">

    
</head>
<body>
   <!-- header start -->
   <div class="header" style=" background-color: rgb(26, 183, 97); text-align: center; left: 0%; width: 100%; ">
    <p>
        <span style="margin-right: 50%; color: aliceblue; font-weight: bold;"><a href="{% url 'index' %}" style="text-decoration: none;color: aliceblue;">RentalBox</a></span> 
        
        {% if name != 'AnonymousUser' %}
        <span class="cart-icon"><a href="{% url 'mycart' %}"><i class="fas fa-shopping-cart" style="color: aliceblue;"></i></a></span>
        <span><a style="color: white; text-decoration: none;" href="{% url 'myorder' %}">My Order</a></span>
        <span><a style="color: white; text-decoration: none;" href="{% url 'dashboard' %}">| Dashboard</a></span>
        <span>{{ name }} <a href="{% url 'logout' %}" class="btn btn-dark">Logout</a></span>
        {% else %}
            <span ><a href="{% url 'login' %}" >SignIn</a> <a href="{% url 'register' %}">/ SignUp</a></span>
        {% endif %}
    </p>
</div>
<!-- header end -->

    <!-- Content Container -->
    <div class="container">
        <div class="image-container">
            <img src="{% static 'warehouse/images/indexwall.png' %}" alt="Responsive Image">
            <a href="/enquiry" class="enquiry-button" style="text-decoration: none;">Enquiry</a>
            
        </div>

        <!-- Tabs -->
        <div class="tabs">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a  href="{% url 'product' %}" role="tab" style="text-decoration: none;" aria-controls="appliances" aria-selected="true">All Products</a>
                </li>
                <li class="nav-item" role="presentation" style="margin-left: 15%;">
                    <a  href="{% url 'product_items' category='APPLIANCES'  %}" role="tab" style="text-decoration: none;" aria-controls="appliances" aria-selected="true">Appliances</a>
                </li>
                <li class="nav-item" role="presentation" style="margin-left: 15%;">
                    <a  href="{% url 'product_items' category='ELECTRONICS' %}" role="tab" style="text-decoration: none;" aria-controls="electronics" aria-selected="false">Electronics</a>
                </li>
                <li class="nav-item" role="presentation" style="margin-left: 15%;">
                    <a  href="{% url 'product_items' category='FURNITURE' %}" role="tab" style="text-decoration: none;" aria-controls="furniture" aria-selected="false">Furniture</a>
                </li>
            </ul>
        </div>

        &nbsp;

        <h2>Why Choose Us</h2>
        <ul>
            <li><strong>Wide Range of Appliances:</strong> Choose from various appliances, including refrigerators, washing machines, and microwaves.</li>
            <li><strong>Flexible Rental Plans:</strong> Offers daily, weekly, or monthly rental options tailored to customer needs.</li>
            <li><strong>Affordable and Cost-Effective:</strong> Cost-effective rentals without large upfront investments, perfect for short-term or budget-conscious users.</li>
            <li><strong>Hassle-Free Delivery and Installation:</strong> Quick, hassle-free delivery and professional installation with every rental.</li>
            <li><strong>Maintenance & Support:</strong> Free maintenance and repair services ensure your appliances stay in top condition.</li>
        </ul>
    </div>
    

    <!-- Footer -->
    <div class="footer">
        <p>&copy; shashiranjan
            <a href="https://www.linkedin.com/in/shashiranjan05/"><i class="fa fa-linkedin-square"></i></a>
            <a href="https://github.com/shashiranjan05"><i class="fa fa-github-square"></i></a>
        </p>
    </div>
    
</body>
</html>
{% endblock %}
