
{% extends 'layout/app.html' %}
{% load static %}

{% block content %}
<html>

    <head>
        <link rel = "stylesheet" type="text/css" href="{% static '/warehouse/css/enquiry.css' %}">

        <style>
            
            h3{
                /* background-color: green; */
                color: rgb(2, 76, 141);
                margin-left: 10%;
            }
        </style>
    </head>
     <body>  
        <script>
            function submitFunction() {
                alert("Sales Quote Generated");
            }
        </script>
         <!-- header start -->
    <div class="header" style=" background-color: rgb(26, 183, 97); text-align: center; left: 0%; width: 100%; ">
        <p>
            <span style="margin-right: 50%; color: aliceblue; font-weight: bold;"><a href="{% url 'index' %}" style="text-decoration: none;color: aliceblue;">RentalBox</a></span> 
            
            {% if name != 'AnonymousUser' %}
            <span class="cart-icon"><a href="{% url 'mycart' %}"><i class="fas fa-shopping-cart" style="color: aliceblue;"></i></a></span>
            <span><a style="color: white; text-decoration: none;" href="{% url 'myorder' %}">My Order</a></span>
            <span><a style="color: white; text-decoration: none;" href="{% url 'dashboard' %}">| Dashboard</a></span>
            <span>{{ name }} <a href="{% url 'logout' %}" class="btn btn-dark">Logout</a></span>
            {% else %}
                <span><a href="{% url 'login' %}">SignIn</a> <a href="{% url 'register' %}">/ SignUp</a></span>
            {% endif %}
        </p>
    </div>
    <!-- header end -->
        <div class="container">

            <h3>Sales Quote</h3>
        
            <form action = "" method = "POST">
                {% csrf_token %} 
                <div class="wrap-input100 validate-input m-b-26" data-validate="Space type is required">
                    <div class="row">
                        <div class="col-25">
                            <span class="label-input100">Enquiry ID:</span>
                        </div>
                        <div class="col-75">
                            <select id="enquiry_id", name="enquiry_id" >
                                {% for val in all_data %}
                                <option id="enquiry_id", name="enquiry_id" >
                                        {{val.enquiry_id}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="product_name">Enter Product name: </label>
                    </div>
                    <div class="col-75">
                        <input id="product_name" type="text" name="product_name"><br>  
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="product_id">Enter Product Id: </label>
                    </div>
                    <div class="col-75">
                        <input id="product_id" type="text" name="product_id"><br> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="product_details">Enter Product Details: </label>
                    </div>
                    <div class="col-75">
                        <textarea id="product_details" style="height:100px" type="text" name="product_details"></textarea> <br> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="qty">Enter Quantity </label>
                    </div>
                    <div class="col-75">
                        <input id="qty" type="text" name="qty"><br> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="time_period">Choose Time Period: </label>
                    </div>
                    <div class="col-75">
                        <select name="time_period" id="time_period" required>
                            <option>3 Months</option>
                            <option>6 Months</option>
                            <option>9 Months</option>
                            <option>1 Year</option>
                        </select><br> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="pricing">Price Per Month: </label>
                    </div>
                    <div class="col-75">
                        <input id="pricing" type="text" name="pricing"><br> 
                    </div>
                </div>
                <br>
                <div class="row">
                    <input onclick="submitFunction()" id="submit_sales_button" type="submit" style="margin-left: 25%;" value="submit" name="submit">
                </div>
            </form>
        </div>
     <!-- footer start -->
     <div class="footer" style="background-color: rgb(26, 183, 97); text-align: center; left: 0%; width: 100%; bottom: 0%; ">
        <p>&copy shashiranjan</p>
    </div>
    <!-- footer end -->
    </body> 
</html>


{% endblock %}