{% extends 'layout/app.html' %}
{% load static %}

<html>
        {% block content %}
        <head>
            <link rel = "stylesheet" type="text/css" href="{% static '/warehouse/css/dashboard.css' %}">
        </head>
        <body>
             <!-- header start -->
        <div class="header" style=" background-color: rgb(26, 183, 97); text-align: center; left: 0%; width: 100%; height: 6%; padding-left: 70%;">
            <p> Login by {{role}}  :{{ name }}  <a href="{% url 'logout' %}" class="btn btn-dark">Logout</a></p>
        </div>
        <!-- header end -->
         <h3 style="text-align: left;">Dashboard</h3>
            <table>
                <h4>RFQ
                <a href="{% url 'enquiry' %}" class="btn btn-dark">Create New RFQ</a>
                </h4>
                <tr>
                    
                    <tr>
                        <th>Enquiry Id </th>
                        <th>Customer Name </th>
                        <th>Org Details </th>
                        <th>Your Requirement </th>
                    </tr>
                    
                    {% for val in data %}
                    <tr>
                        <td>{{ val.enquiry_id }}</td>
                        <td>{{ val.customer_name }}</td>
                        <td>{{ val.org_details }}</td>
                        <td>{{ val.your_requirement }}</td>                        
                    </tr>
                    {% endfor %}
                </tr>
            </table>
        </br>
            <table>
                <h4>Sales Quote
                    {% if role == 'ADMIN' %}
                         <a href="{% url 'salesquote' %}" class="btn btn-dark">Create Sales Quote</a>
                    {% endif %}
                </h4>
                    <tr>
                        <tr>
                            <th>Enquiry Id</th>
                            <th>Product Id</th>
                            <th>Product Name</th>
                            <th>Product Details</th>
                            <th>Time Period</th>
                            <th> Product Pricing</th>
                        </tr>
                        {% for val in data %}
                        <tr>
                            {% for products in sales_quote %}
                            {% if products.enquiry.enquiry_id == val.enquiry_id %}
                            <td>{{ val.enquiry_id }}</td>
                            <td>{{ products.product_id }}</td>
                            <td>{{ products.product_name }}</td>
                            <td>{{ products.product_details }}</td>
                            <td>{{ products.time_period }}</td>
                            <td>{{ products.pricing }}</td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}

                    </tr>
              </table>
               <!-- footer start -->
        <div class="footer" style="background-color: rgb(26, 183, 97); text-align: center; left: 0%; width: 100%; bottom: 0%; position: fixed; ">
            <p>&copy shashiranjan<a href="https://www.linkedin.com/in/shashiranjan05/" ><i class="fa fa-linkedin-square" style="font-size:24px; color: black;"></i></a> &nbsp;<a href="https://github.com/shashiranjan05"><i class="fa fa-github-square" style="font-size:24px; color: black;" ></i></a>
            </p>
        </div>
        <!-- footer end -->
        </body>
    {% endblock %}
</html>
